* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    background-color: #c4e1d1;
    padding: 8px 16px;
    transition: all linear 0.3s;
    border-radius: 50px;
}
.btn__message{
    color: #2c6a51;
}
.btn+ .btn{
    margin-top: 32px;
}
.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}