.tooltip{
    background-color: #33264b;
    padding: 8px 12px;
    border-radius: 16px;
    position: absolute;
    z-index: 9;
    transition: all linear 0.3s;
    width: 120px;
}

.tool__message {
    text-align: center;
    color: #cce2f9;
}

.tooltip--top{
    bottom: calc( 100% + 8px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip--bottom{
    top: calc( 100% + 8px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip--right{
    left: calc( 100% + 8px);
    top: 50%;
    transform: translateY( -50%);
}

.tooltip--left{
    right: calc( 100% + 8px);
    top: 50%;
    transform: translateY( -50%);
}


.tooltip--top:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 6;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #33264b transparent transparent transparent;
}

.tooltip--bottom:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip--right:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip--left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}